/*------------------------------------*\
  #Headings
\*------------------------------------*/
.text-massive {
    font-weight: 400;
    font-size: rem(120px);
    line-height: rem(146px);
    font-family: $npm_screen_main_font;
}

.text-huge {
    font-weight: 400;
    font-size: rem(96px);
    line-height: rem(117px);
    font-family: $npm_screen_main_font;
}

h1,
.h1 {
    font-weight: 400;
    font-size: rem(64px);
    line-height: rem(78px);
    font-family: $npm_screen_main_font;
}

h2,
.h2 {
    font-weight: 400;
    font-size: rem(40px);
    line-height: rem(49px);
    font-family: $npm_screen_main_font;
}

h3,
.h3 {
    font-weight: 400;
    font-size: rem(32px);
    line-height: rem(45px);
    font-family: $npm_screen_main_font;
}

h4,
.h4 {
    font-weight: 400;
    font-size: rem(24px);
    line-height: rem(29px);
    font-family: $npm_screen_main_font;
}

h5,
.h5 {
    font-weight: 400;
    font-size: rem(16px);
    line-height: rem(20px);
    font-family: $npm_screen_main_font;
}

h6,
.h6 {
    font-weight: 400;
    font-size: rem(14px);
    line-height: rem(17px);
    font-family: $npm_screen_main_font;
}

.text-tiny {
    font-weight: 400;
    font-size: rem(12px);
    line-height: rem(15px);
    font-family: $npm_screen_main_font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    word-break: break-all;
    margin: 8px 0px;
}
