/*------------------------------------*\
  #Colors
\*------------------------------------*/
// Main color (Figma Design)
$npm_main_primary_color: #333b75;
$npm_main_accent_color: #73e6ff;
$npm_main_secondary_accent: #4c92a3;
$npm_main_black_color: #07090a;
$npm_main_dark_color: #111419;
$npm_main_gray_color: #bdbdbd;
$npm_main_light_gray_color: #7c7c7c;
$npm_main_white_color: #ffffff;

$npm_main_button_color: #6297ff;
$npm_main_button_hover_color: #00a455;
