/*------------------------------------*\
  #Colors
\*------------------------------------*/
// Main color (Figma Design)
$npm_main_primary_color: #000000;
$npm_main_dark_color: #060606;
$npm_main_white_color: #ffffff;
$npm_main_accent_color: #ff00b8;
