/*------------------------------------*\
  #Archives
\*------------------------------------*/

.c-archives__aside {
    width: 15%;
    min-width: 13.75rem;
}

.c-archives-cards {
    width: calc(100% - 15%);
}

.c-card {
    width: 48.5%;
}
