.c-card-container {
    width: calc(100% - 271.008px);
}

.c-card__tag {
    margin-right: 8px;

    &::after {
        content: " , ";
        color: $npm_main_light_gray_color;
    }

    &:last-child {
        &::after {
            content: "";
        }
    }
}

.c-card__image {
    img {
        max-height: inherit;
    }
}

.c-card__img.loading {
    object-fit: contain;
}
